.ul_f {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
}
.film {
    flex: 0 0 200px;
    height: 250px;
    box-shadow: 0 0 3px 3px rgb(151, 151, 151);
    padding: 10px;
    margin: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}
.pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.page_number {
    margin: 5px;
}
.page_number:hover {
    cursor: pointer;
    font-weight: bold;
    color: darkorchid;
}
.page_active {
    margin: 5px;
    color: green;
    font-weight: bold;
}
.back_number {
    display: none;
}
.over {
    flex: 1 1 500px;
    justify-content: center;
    min-height: 300px;
    box-shadow: 0 0 3px 3px rgb(99, 99, 99);
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.5);

}