.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.modal-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    margin-top: 200px;
}
.modal-button {
    margin: 10px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: lightblue;
    display: inline-block;
    color: black;

}
.modal-button:hover {
    background: rgba(173, 216, 230, 0.5);

  }
.signup {
    border: 2px solid indianred;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.login {
    border: 2px solid indianred;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}