.ul_todo {
    list-style: none;
}
.li_todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.input_todo {
    margin-right: 1em;
    width: auto;
}
.checkbox {
    text-decoration: line-through;
}
.background {
   background-color: goldenrod;
 
}  
.button_todo {
    margin-left: 1em;
}
