.container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: left;
  flex-flow: row nowrap;
  list-style: none;
  background-color: rgb(49, 49, 49);
  margin: 0;
  padding-left: 15px;
}

.nav li {
  margin: 5px 5px;
  padding: 5px;
}

.li {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.li:hover {
  color: burlywood;
}

.button {
  margin: 10px;
  height: 25px;
  width: 150px;
  text-align: center;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: lightblue;
  display: inline-block;
  color: black;
}

.button:hover {
  background: rgba(173, 216, 230, 0.5);
}

.profil {
  border: darkorchid 4px solid;
  border-radius: 20px;
  text-align: center;
  color: darkorchid;
  padding: 0 5px;
  display: inline-block;
  float: right;
  margin: 10px;
}
h4 {
  margin: 5px;
  font-size: 1.2em;
}